<%- include('includes/head'); %>

  <title>Contrato</title>
</head>
<body>
  <h1>Contrato de Serviços</h1>

  <p>Eu, <%= nome %>, residente no endereço <%= endereco %>, nascido(a) em <%= dataNascimento %>, concordo com os termos e condições do contrato de serviços.</p>

  <p>Assinatura: ________________________</p>

<%- include('includes/footer'); %>