<%- include('includes/head'); %>

  <h1>Contrato de Serviços</h1>

  <p>Eu, <%= nomeCliente %>, residente no endereço <%= endereco %>, nascido(a) em <%= dataNascimento %>, concordo com os termos e condições do contrato de serviços.</p>
  <%= modeloVeiculo %>
  <p>Assinatura: ________________________</p>

<%- include('includes/footer'); %>